
<!DOCTYPE html>
<html>
<head>
<title>Bug Tracking Report Generator</title>
</head>
<body>
<h1>Bug Tracking Report Generator</h1>
<p>Enter the URLs of your bug tracking systems below to generate a consolidated report:</p>
<form action="/generate_report" method="post">
<label for="url1">URL 1:</label>
<input type="text" name="url1" id="url1">
<br>
<label for="url2">URL 2:</label>
<input type="text" name="url2" id="url2">
<br>
<input type="submit" value="Generate Report">
</form>
</body>
</html>


